# Exclude specific temporary files
- *.tmp
- *.bak

# Exclude a specific folder and everything inside it (note the trailing /**)
- /ignored-folder/**

# Exclude Macos DS files
- .DS_Store

- .localized

# Include everything else
+ *

